# Part 3. Enrich Models With Snowflake Data Marketplace and Use Native Snowpark Operations to Manipulate The Data

1. Get Data From the Data Marketplace
2. Create a session for Snowpark with Snowflake
3. Import the Data
4. Manipulate the Data
5. Update Your Model

# 3.0 Imports

In [1]:
import json
import pandas as pd
from snowflake.snowpark.session import Session
import snowflake.snowpark.functions as F
from snowflake.snowpark.types import PandasDataFrameType, IntegerType, StringType, FloatType, DateType
from snowflake.ml.modeling.xgboost import XGBRegressor
from snowflake.ml.modeling.linear_model import LinearRegression
#from snowflake.ml.registry import model_registry
from snowflake.ml.registry import registry
from snowflake.ml._internal.utils import identifier

# 3.1 Get the Data Share

Go to the hyperlink below, log in to you Snowflake account and click on the "GET" button.  This enables you to retrieve data from the Data Share

https://app.snowflake.com/marketplace/listing/GZT1ZA3NLF/similarweb-ltd-global-stocks-25-000-tickers-digital-traffic-data-by-domain?search=Global%20Stocks

# 3.2 Reading Snowflake Connection Details, create a Session

In [2]:
snowflake_connection_cfg = json.loads(open("/Users/mitaylor/Documents/creds/creds_sf_azure.json").read()) # <--- Update here
session = Session.builder.configs(snowflake_connection_cfg).create()
session.sql("USE DATABASE HOL_DEMO").collect()
session.sql("CREATE OR REPLACE WAREHOUSE ASYNC_WH WITH WAREHOUSE_SIZE='MEDIUM' WAREHOUSE_TYPE = 'SNOWPARK-OPTIMIZED'").collect()

[Row(status='Warehouse ASYNC_WH successfully created.')]

# 3.3 Use SQL to import the data

In [3]:
sdf = session.sql("""
SELECT ts.date,
       ts.variable_name,
       ts.value
FROM FINANCIAL__ECONOMIC_ESSENTIALS.cybersyn.financial_fred_timeseries AS ts
JOIN FINANCIAL__ECONOMIC_ESSENTIALS.cybersyn.financial_fred_attributes AS att
    ON (att.variable = ts.variable)
WHERE variable_group IN ('Bank of Brazil Selic Interest Rate Target',
                         'Bank of Canada Overnight Lending Rate',
                         'Bank of England Official Bank Rate',
                         'Bank of Japan Policy-Rate Balance Rate',
                         'Bank of Mexico Official Overnight Target Rate',
                         'ECB Main Refinancing Operations Rate: Fixed Rate Tenders for Euro Area',
                         'Federal Funds Effective Rate')""")
sdf.limit(5).to_pandas()

         DATE                              VARIABLE_NAME   VALUE
0  2024-01-26     Bank of Japan Policy-Rate Balance Rate -0.0010
1  2024-01-25     Bank of Japan Policy-Rate Balance Rate -0.0010
2  2024-01-24     Bank of Japan Policy-Rate Balance Rate -0.0010
3  2024-01-30         Bank of England Official Bank Rate  0.0525
4  2024-01-31  Bank of Brazil Selic Interest Rate Target  0.1175

In [4]:
sdf.write.save_as_table("STREAMLIT_TEST", mode="overwrite")

# 3.4 Use Native Snowpark to Manipulate the Data
## 3.4.1 Filtering

In [5]:
sdf_trimmed = sdf[["DATE", "VALUE"]]
sdf_trimmed.show()

------------------------
|"DATE"      |"VALUE"  |
------------------------
|2024-01-30  |0.05     |
|2024-01-31  |0.045    |
|2024-01-29  |0.0533   |
|2024-01-29  |-0.001   |
|2024-01-28  |0.0533   |
|2024-01-26  |-0.001   |
|2024-01-25  |-0.001   |
|2024-01-24  |-0.001   |
|2024-01-30  |0.0525   |
|2024-01-31  |0.1175   |
------------------------

## 3.4.2 GroupBy

In [6]:
from snowflake.snowpark.functions import mean as mean_

In [7]:
sdf_grouped = sdf_trimmed.group_by("DATE").agg(mean_("VALUE"))
sdf_grouped.limit(5).to_pandas()

         DATE  AVG(VALUE)
0  2024-01-18    0.061400
1  2024-01-28    0.082075
2  1990-02-16    0.091050
3  1992-11-25    0.049083
4  1978-11-20    0.085667

In [8]:
sdf_grouped = sdf_grouped.filter((F.col("DATE") >= '2022-01-01'))

## 3.4.3 Join it with our Prior Data

In [9]:
sdf_ml = session.table("ML_PREDICT")
sdf_ml = sdf_ml.filter((F.col("SYMBOL") == 'IBM'))
sdf_joined = sdf_ml.join(sdf_grouped, sdf_ml.DATE == sdf_grouped.DATE, rsuffix="_right", how="left")
sdf_joined = sdf_joined.rename(F.col("AVG(VALUE)"), "NEW_FEATURE")
sdf_joined = sdf_joined.drop("DATE_RIGHT")

In [10]:
sdf_joined.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"DATE"      |"OPEN"              |"HIGH"              |"LOW"               |"CLOSE"             |"SYMBOL"  |"CLOSE_M1"          |"CLOSE_M2"          |"CLOSE_M3"          |"CLOSE_M4"          |"CLOSE_M5"          |"CLOSE_PREDICT"     |"NEW_FEATURE"         |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2022-09-28  |147.63999938964844  |150.63999938964844  |144.83999633789062  |149.83999633789062  |IBM       |151.75999450683594  |150.77000427246094  |150.42999267578125  |152.74000549316406  |153.72000122070312  |149.8188503593884   |0.04568571428571428   |
|2022-08-15  |171.52000427246094  |173.38999938964844  |171.35000610351562  |173.19000244140625  |IBM       |172.10000610351562  |168.49000549316406  |169.24000549316406  |164.9199981689453   |164.8699951171875   |168.92275525084224  |0.04175714285714286   |
|2022-12-29  |127.98999786376952  |130.47999572753906  |127.7300033569336   |129.61000061035156  |IBM       |126.04000091552734  |130.02999877929688  |131.86000061035156  |132.22999572753906  |135.4499969482422   |126.09233258874455  |0.05532857142857143   |
|2022-11-14  |148.97000122070312  |150.27999877929688  |147.42999267578125  |148.27999877929688  |IBM       |149.6999969482422   |146.8699951171875   |134.8699951171875   |139.5               |138.9199981689453   |147.43687053134136  |0.05175714285714287   |
|2022-03-31  |177.83999633789062  |178.02999877929688  |174.39999389648438  |174.61000061035156  |IBM       |177.77000427246094  |178.9600067138672   |175.60000610351562  |174.72000122070312  |174.07000732421875  |175.04025965089053  |0.0249125             |
|2022-02-15  |170.97000122070312  |172.9499969482422   |170.25              |172.7899932861328   |IBM       |168.8800048828125   |168.63999938964844  |172.1199951171875   |176.27999877929688  |174.8300018310547   |166.33286094120243  |0.024971428571428568  |
|2022-07-05  |137.77000427246094  |141.61000061035156  |136.92999267578125  |141.55999755859375  |IBM       |138.92999267578125  |136.72000122070312  |139.22999572753906  |137.44000244140625  |141.66000366210938  |137.4030415415169   |0.03604285714285715   |
|2022-05-18  |146.85000610351562  |147.36000061035156  |139.89999389648438  |140.82000732421875  |IBM       |149.24000549316406  |145.5399932861328   |147.11000061035156  |142.55999755859375  |146.5               |147.03351956316249  |0.03211428571428572   |
|2023-10-04  |171.08999633789062  |174.2100067138672   |170.97000122070312  |173.66000366210938  |IBM       |172.39999389648438  |173.75              |171.2100067138672   |170.69000244140625  |170.42999267578125  |169.93750142655455  |0.06282857142857143   |
|2023-08-21  |175.07000732421875  |176.1300048828125   |173.74000549316406  |175.83999633789062  |IBM       |174.49000549316406  |174.0               |176.57000732421875  |177.4499969482422   |179.4600067138672   |171.62311198093886  |0.06318571428571428   |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# 3.5 Train and Test the Model

In [11]:
sdf_joined = sdf_joined.na.fill(0.05)
sdf_joined_train, sdf_joined_test = sdf_joined.filter((F.col("DATE") <= '2023-01-01')), sdf_joined.filter((F.col("DATE") > '2023-01-01'))

Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "DATE", Type: DateType(), Input Value: 0.05, Type: <class 'float'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "SYMBOL", Type: StringType(16777216), Input Value: 0.05, Type: <class 'float'>

In [14]:
REGISTRY_DATABASE_NAME = "MODEL_REGISTRY"
REGISTRY_SCHEMA_NAME = "PUBLIC"
native_registry = registry.Registry(session=session, database_name=REGISTRY_DATABASE_NAME, schema_name=REGISTRY_SCHEMA_NAME)

#train
regressor = LinearRegression
regressor = regressor(input_cols=["CLOSE_M1", "CLOSE_M2", "CLOSE_M3", "CLOSE_M4", "CLOSE_M5"],
                         label_cols=["CLOSE"],
                         output_cols=["CLOSE_PREDICT"])
regressor.fit(sdf_joined_train)

MODEL_NAME = "REGRESSION_IBM_CB_FEAT"
MODEL_VERSION = "v01"
model = native_registry.log_model(
    model_name=MODEL_NAME,
    version_name=MODEL_VERSION,
    model=regressor,
)

In [15]:
model_ = native_registry.get_model(MODEL_NAME).version(MODEL_VERSION)
model_.run(sdf_joined_test, function_name="predict").limit(10).to_pandas()

,DATE,OPEN,HIGH,LOW,CLOSE,SYMBOL,NEW_FEATURE,CLOSE_M1,CLOSE_M2,CLOSE_M3,CLOSE_M4,CLOSE_M5,CLOSE_PREDICT
0,2023-09-13,176.509995,177.300003,173.979996,174.210007,IBM,0.063186,176.300003,179.360001,178.179993,177.559998,182.910004,175.245604
1,2023-07-31,196.059998,196.490005,195.259995,196.449997,IBM,0.061688,195.830002,193.220001,194.500000,193.619995,192.750000,191.268965
2,2023-12-13,195.089996,198.000000,194.850006,197.960007,IBM,0.062114,194.710007,193.179993,195.710007,194.270004,192.320007,190.582152
3,2023-11-08,182.350006,183.449997,181.589996,182.889999,IBM,0.062114,181.820007,179.229996,176.649994,190.539993,173.970001,177.300366
4,2023-03-28,157.970001,158.490005,155.979996,157.649994,IBM,0.059614,158.279999,160.250000,158.929993,157.830002,147.919998,158.039372
5,2023-02-10,149.460007,151.339996,149.220001,151.009995,IBM,0.058186,150.869995,151.919998,154.649994,151.729996,165.559998,152.601760
6,2023-06-29,189.080002,190.070007,188.940002,189.589996,IBM,0.062457,189.250000,188.059998,185.270004,186.679993,187.000000,185.424723
7,2023-05-16,171.990005,173.139999,171.800003,172.070007,IBM,0.061043,172.070007,172.570007,173.750000,173.559998,171.770004,170.612695
8,2023-09-18,176.479996,179.380005,176.169998,177.970001,IBM,0.063186,175.009995,175.740005,174.210007,176.300003,179.360001,173.301594
9,2023-08-03,191.570007,192.369995,190.690002,191.169998,IBM,0.063186,192.580002,195.610001,196.449997,195.830002,193.220001,189.642130

In [16]:
model_.run(sdf_joined_test, function_name="predict").write.save_as_table("ML_PREDICT", mode="overwrite")